@import 'pure';

$mono: "Lucida Console", Monaco, monospace;

h1 {
  font-size: 2em;
  margin: 0.5em 0 1em;

  & > small {
    color: gray;
    font-size: 70%;
  }
}

.progress {
  font-family: $mono;
  border: 2px solid #332;
  padding-top: 2px;
  padding-bottom: 2px;

  span {
    padding-left:1px;
    padding-right:1px;
  }

  .loaded {
    color: green;
  }

  .loading {
    color: #aaa;
  }
}
