$danger-light: #FF7A7A;
$warning-light: #FFB67A;
$info-light: #4DA0A0;
$success-light: #63D063;
$danger: #D72020;
$warning: #D77320;
$info: #138181;
$success: #1AAC1A;

$mono: "Lucida Console", Monaco, monospace;
h1 {
    font-size: 2em;
    margin: 0.5em 0 1em;
    & > small {
        color: gray;
        font-size: 70%;
    }
}
.container {
    margin: 0 1em;
}
.progress-wrapper {
    margin-top: 10px;
}
.progress {
    font-family: $mono;
    font-size: 6px;
    border: 2px solid #332;
    padding: 1px 0 1px 1px;
    span {
        padding: 0 1px 0 0;
    }
    .loaded {
        color: green;
    }
    .loading {
        color: #aaa;
    }
}
#cy {
    width: 100%;
    height: 600px;
    display: block;
    border:1px dashed black;
}
svg{
    width: 100%;
    height: 100%;
}

.bg-danger {
  background-color: $danger-light;
}
